import React from 'react';
import { Box, Typography, Button } from '@mui/material';

const ErrorPage = () => {
  return (
    <Box>
      <Typography variant="h1" gutterBottom>
        Oops!
      </Typography>
      <Typography variant="h5" paragraph>
        The page you're looking for doesn't exist.
      </Typography>
      <Button variant="contained" href="/">
        Go Back Home
      </Button>
    </Box>
  );
};

export default ErrorPage;